@model EventVM
@{
    ViewData["Title"] = "Detail";
}

<!-- Banner Area Start -->
@(await Html.PartialAsync("_BannerPartial","event detail"))
<!-- Banner Area End -->
<!-- Event Details Start -->
<div class="event-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="event-details">
                    <div class="event-details-img">
                        <img width="100%" src="~/img/event/@Model.Event.Image" alt="event-details">
                        <div class="event-date">
                            <h3>@Model.Event.Date.ToString("dd MMMM")</h3>
                        </div>
                    </div>
                    <div class="event-details-content">
                        <h2>@Model.Event.Name</h2>
                        <ul>
                            <li><span>time : </span>@Model.Event.StartTime - @Model.Event.EndTime</li>
                            <li><span>venue : </span>@Model.Event.Venue</li>
                        </ul>
                        <p>@Model.Event.Description</p>
                        <div class="speakers-area fix">
                            <h4>speakers</h4>
                            <div class="single-speaker">
                                <div class="speaker-img">
                                    <img src="~/img/event/speaker1.jpg" alt="speaker">
                                </div>
                                <div class="speaker-name">
                                    <h5>Anthony Smith</h5>
                                    <p>CEO, Hastech </p>
                                </div>
                            </div>
                            <div class="single-speaker">
                                <div class="speaker-img">
                                    <img src="~/img/event/speaker2.jpg" alt="speaker">
                                </div>
                                <div class="speaker-name">
                                    <h5>Lucy Rose</h5>
                                    <p>Developer, STD </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reply-area">
                        <h3>LEAVE A REPLY</h3>
                        I must explain to you how all this a mistaken idea of ncing great explorer of the rut
                        the is lder of human happinescias unde omnis iste natus error sit volptatem
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form asp-action="AddComment" method="post">
                                <div class="row">

                                    <div class="col-md-12">

                                        <p id="subj">Subject</p>

                                        <input asp-for="@Model.Event.Comments.FirstOrDefault().Subject">
                                        <p id="message">Message</p>

                                        <textarea asp-for="@Model.Event.Comments.FirstOrDefault().Message" cols="15" rows="10"></textarea>
                                        <p id="eventid" style="display:none">@Model.Event.Id</p>

                                        <input type="hidden" asp-for="@Model.Event.Comments.FirstOrDefault().EventId" value="@Model.Event.Id" />
                                    </div>
                                </div>
                                <a asp-controller="Event" asp-action="AddComment" id="SendMessage">Send</a>


                                <p class="form-messege"></p>
                            </form>
                          

                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-47">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input id="InputEvent" type="search" placeholder="Search..." name="search" />
                                <button id="ButtonEvent" type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                            </form>
                            <ul id="ListEvent" style="border: 1px solid; background-color:white; text-decoration:none; width: 100%; height: auto; position: absolute; z-index: 18;">
                           
                            </ul>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-47">
                        <h3>categories</h3>
                        <ul>
                            @foreach (Category category in Model.Categories.Take(6))
                            {

                                <li><a href="#">@category.Name (@category.Events.Count())</a></li>
                            }

                        </ul>
                    </div>

                    @await Component.InvokeAsync("BlogBanner")

                    <div class="single-blog-widget mb-47">
                        <h3>latest post</h3>
                        <div class="single-post mb-30">
                            @foreach (Blog blog in Model.Blogs.Take(3))
                            {
                                <div class="single-post-img">
                                    <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id">
                                        <img width="100" src="~/img/blog/@blog.Image" alt="post">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>

                                <div class="single-post-content">
                                    <h4><a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id">English Language Course for you</a></h4>
                                    <p>By @blog.Author  / @blog.Date.ToString("MMMM dd, yyyy")</p>
                                </div>
                            }
                        </div>


                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            @foreach (Tag tag in Model.Tags)
                            {

                                <a asp-controller="blog" asp-action="detail" asp-route-id="@tag.Id" class="mr-10 mb-10">course</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Event Details End -->