@model Teacher
@{
    ViewData["Title"] = "Detail";
}

<!-- Banner Area Start -->
@(await Html.PartialAsync("_BannerPartial","teacher detail"))
<!-- Banner Area End -->
<!-- Teacher Start -->
<div class="teacher-details-area pt-150 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="teacher-details-img">
                    <img width="100%" src="~/img/teacher/@Model.Image" alt="teacher">
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="teacher-details-content ml-50">
                    <h2>@Model.Name @Model.Surname</h2>
                    <h5>@Model.Profession</h5>
                    <h4>about me</h4>
                    <p>@Model.About</p>
                    <ul>
                        <li><span>degree: </span>@Model.Degree</li>
                        <li><span>experience: </span>@Model.Experience experience</li>
                        <li><span>hobbies: </span>@Model.Hobbies</li>
                        <li><span>faculty: </span>@Model.Faculty</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="teacher-contact">
                    <h4>contact information</h4>
                    <p><span>mail me : </span>@Model.Email</p>
                    <p><span>make a call : </span>@Model.PhoneNumber</p>
                    <p><span>skype : </span> @Model.Skype</p>
                    <ul>
                        <li><a href="@Model.FacebookUrl"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="@Model.PinterestUrl"><i class="zmdi zmdi-pinterest"></i></a></li>
                        <li><a href="@Model.VUrl"><i class="zmdi zmdi-vimeo"></i></a></li>
                        <li><a href="@Model.TwitterUrl"><i class="zmdi zmdi-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-8">
                <div class="skill-area">
                    <h4>skills</h4>
                </div>
                <div class="skill-wrapper">
                    <div class="row">
                        @foreach (TeacherSkill item in Model.TeacherSkills)
                        {
                        <div class="col-sm-4">
                            <div class="skill-bar-item">
                                <span>@item.Skill.Name</span>
                                <div class="progress">
                                    <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @(item.Skill.ProgressPercentage)%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                        <span class="text-top">@item.Skill.ProgressPercentage%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Teacher End -->