@model Course
@{
    ViewData["Title"] = "Detail";
}

<!-- Banner Area Start -->
@(await Html.PartialAsync("_BannerPartial", "course detail"))
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="courses-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="courses-details">
                    <div class="courses-details-img">
                        <img width="100%" src="~/img/course/@Model.Image" alt="courses-details">
                    </div>
                    <div class="course-details-content">
                        <h2>@Model.Name</h2>
                        <p>@Model.Description</p>
                        <div class="course-details-left">
                            <div class="single-course-left">
                                <h3>about course</h3>
                                <p>@Model.About</p>
                            </div>
                            <div class="single-course-left">
                                <h3>how to apply</h3>
                                <p>@Model.HowToApply</p>
                            </div>
                            <div class="single-course-left">
                                <h3>certification</h3>
                                <p class="margin">@Model.Certification</p>
                            </div>
                        </div>
                        <div class="course-details-right">
                            <h3>COURSE FEATURES</h3>
                            <ul>
                                <li>starts <span>@Model.Feature.Starts.Value.ToString("dd  MMM yyyy")</span></li>
                                <li>duration <span>@Model.Feature.Duration</span></li>
                                <li>class duration <span>@Model.Feature.ClassDuration</span></li>
                                <li>skill level <span>@Model.Feature.SkillLevel</span></li>
                                <li>language <span>@Model.Feature.Language</span></li>
                                <li>students <span>@Model.Feature.StudentsCount</span></li>
                                <li>assesments <span>@Model.Feature.Assesments</span></li>
                            </ul>
                            <h3 class="red">course fee $@Model.Feature.Fee</h3>
                        </div>
                    </div>
                    <div class="reply-area">
                        <h3>LEAVE A REPLY</h3>
                     @(await Html.PartialAsync("_LeaveReplyPartial"))
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-50">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input class="inputCourse" type="search" placeholder="Search..." name="search" />
                                <button class="buttonCourse" type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                            </form>
                            <ul id="searchCourse" style="border: 1px solid; background-color:white; text-decoration:none; width: 100%; height: auto; position: absolute; z-index: 8;">
                           
                            </ul>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>categories</h3>
                        <ul>
                            <li><a href="#">CSS Engineering (10)</a></li>
                            <li><a href="#">Political Science (12)</a></li>
                            <li><a href="#">Micro Biology (08)</a></li>
                            <li><a href="#">HTML5 &amp; CSS3 (15)</a></li>
                            <li><a href="#">Web Design (20)</a></li>
                            <li><a href="#">PHP (23)</a></li>
                        </ul>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <div class="single-blog-banner">
                            <a asp-controller="blog" asp-action="detail" asp-route-id="" id="blog"><img src="~/img/blog/blog-img.jpg" alt="blog"></a>
                            <h2>best<br> eductaion<br> theme</h2>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>latest post</h3>
                        <div class="single-post mb-30">
                            <div class="single-post-img">
                                <a asp-controller="blog" asp-action="detail" asp-route-id="">
                                    <img src="~/img/post/post1.jpg" alt="post">
                                    <div class="blog-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="single-post-content">
                                <h4><a asp-controller="blog" asp-action="detail" asp-route-id="">English Language Course for you</a></h4>
                                <p>By Alex  /  June 20, 2017</p>
                            </div>
                        </div>
                        <div class="single-post mb-30">
                            <div class="single-post-img">
                                <a asp-controller="blog" asp-action="detail" asp-route-id="">
                                    <img src="~/img/post/post2.jpg" alt="post">
                                    <div class="blog-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="single-post-content">
                                <h4><a asp-controller="blog" asp-action="detail" asp-route-id="">Advance Web Design and Develop</a></h4>
                                <p>By Alex  /  June 20, 2017</p>
                            </div>
                        </div>
                        <div class="single-post">
                            <div class="single-post-img">
                                <a asp-controller="blog" asp-action="detail" asp-route-id="">
                                    <img src="~/img/post/post3.jpg" alt="post">
                                    <div class="blog-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="single-post-content">
                                <h4><a asp-controller="blog" asp-action="detail" asp-route-id="">English Language Course for you</a></h4>
                                <p>By Alex  /  June 20, 2017</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            <a asp-controller="blog" asp-action="detail" asp-route-id="" class="mr-10 mb-10">course</a>
                            <a asp-controller="blog" asp-action="detail" asp-route-id="" class="mr-10 mb-10">education</a>
                            <a asp-controller="blog" asp-action="detail" asp-route-id="" class="mb-10">teachers</a>
                            <a asp-controller="blog" asp-action="detail" asp-route-id="" class="mr-10">learning</a>
                            <a asp-controller="blog" asp-action="detail" asp-route-id="" class="mr-10">university</a>
                            <a asp-controller="blog" asp-action="detail" asp-route-id="">events</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->