@model HomeVM
@{
    ViewData["Title"] = "Index";
}
<!-- Background Area Start -->
<section id="slider-container" class="slider-area three">
    <div class="slider-owl owl-theme owl-carousel">
        <!-- Start Slingle Slide -->
        @foreach (Slider item in Model.Sliders)
        {
            <!-- Start Slingle Slide -->
            <div class="single-slide item" style="background-image: url(img/slider/@item.Image)">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content text-center">
                                        <h2>@item.Title </h2>
                                        <p>@item.Description</p>
                                        <a class="default-btn" @item.Link>Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>
            <!-- End Slingle Slide -->

        }

        <!-- End Slingle Slide -->

    </div>
</section>
<!-- Background Area End -->
<!-- Courses Area Start -->
<div class="courses-area pt-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="img/icon/section.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (Course course in Model.Courses.Take(3))
            {

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course">
                        <div class="course-img">
                            <a asp-controller="course" asp-action="detail" asp-route-id="@course.Id">
                                <img src="~/img/course/@course.Image" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a asp-controller="course" asp-action="detail">@course.Name</a></h3>
                            <p>@course.Description.Substring(0, 50)</p>
                            <a class="default-btn" asp-controller="course" asp-action="detail" asp-route-id="@course.Id">read more</a>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Notice Start -->
<section class="notice-area two three pt-140 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right-wrapper mb-25 pb-25">
                    <h3>TAKE A VIDEO TOUR</h3>
                    <div class="notice-video">
                        <div class="video-icon video-hover">
                            <a class="video-popup" href="@foreach (NoticeBoard notice1 in Model.NoticeBoards.Take(1))
                            {
                                @notice1.VideoLink
	                         }">
                                <i class="zmdi zmdi-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-left-wrapper">
                    <h3>notice board</h3>
                    <div class="notice-left">
                        @foreach (NoticeBoard notice in Model.NoticeBoards)
                        {
                            <div class="single-notice-left mb-23 pb-20">
                                <h4>@notice.Date.ToString("dd, MMMM yyyy")</h4>
                                <p>@notice.Text</p>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Notice End -->
<!-- About Start -->
<div class="about-area pb-135 pt-130 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="about-content">
                    <h2>@Html.Raw(Model.AboutEduHomes.FirstOrDefault(a => a.Key == "Title").Value)</h2>
                    <p>@Model.AboutEduHomes.FirstOrDefault(a => a.Key == "Description").Value</p>
                    <a class="default-btn" href="@Model.AboutEduHomes.FirstOrDefault(a=>a.Key == "Link").Value">buy now</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="about-img">
                    <img src="~/img/about/@Model.AboutEduHomes.FirstOrDefault(a=>a.Key=="Image").Value" alt="about">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Event Area Start -->
<div class="event-area three text-center pt-100 pb-115">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (Event event1 in Model.Events.Take(3))
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-event mb-35">
                        <div class="event-img">
                            <a asp-controller="event" asp-action="detail">
                                <img src="~/img/event/@event1.Image" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>@(event1.Date.ToString("dd  MMM")) </h3>
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a asp-controller="event" asp-action="detail">ADVANCE PHP WORKSHOP</a></h4>
                            <ul>
                                <li><span>time:</span> @event1.StartTime - @event1.EndTime</li>
                                <li><span>venue</span> @event1.Venue</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="event" asp-action="detail">join now</a>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area three pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">

            <div class="testimonial-owl owl-theme owl-carousel">
                @foreach (Testimonial testimonial in Model.Testimonials)
                {
                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                        <div class="single-testimonial">
                            <div class="testimonial-info">
                                <div class="testimonial-img">
                                    <img src="~/img/testimonial/@testimonial.Image" alt="testimonial">
                                </div>
                                <div class="testimonial-content">
                                    <p>@testimonial.Description</p>
                                    <h4>@testimonial.Author</h4>
                                    <h5>@testimonial.AuthorPosition</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (Blog item in Model.Blogs.Take(3))
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog">
                        <div class="blog-img">
                            <a asp-controller="blog" asp-action="detail"><img src="~/img/blog/@item.Image" alt="blog"></a>
                            <div class="blog-hover">
                                <a asp-controller="blog" asp-action="detail"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>By @item.Author  /  @item.Date.ToString("MMMM dd, yyyy")  /  <i class="fa fa-comments-o"></i> 4</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a asp-controller="blog" asp-action="detail">@item.Description.Substring(0,100)</a></h2>
                                <a asp-controller="blog" asp-action="detail">read more</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
<!-- Blog Area End -->