@model HomeVM
@{
    ViewData["Title"] = "Index";
}
<!-- Background Area Start -->
<section id="slider-container" class="slider-area three">
    <div class="slider-owl owl-theme owl-carousel">
        <!-- Start Slingle Slide -->
        @foreach (Slider item in Model.Sliders)
        {
            <!-- Start Slingle Slide -->
            <div class="single-slide item" style="background-image: url(img/slider/@item.Image)">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content text-center">
                                        <h2>@item.Title </h2>
                                        <p>@item.Description</p>
                                        <a class="default-btn" @item.Link>Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>
            <!-- End Slingle Slide -->

        }

        <!-- End Slingle Slide -->

    </div>
</section>
<!-- Background Area End -->
<!-- Courses Area Start -->
<div class="courses-area pt-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="img/icon/section.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (CourseVM course in Model.CourseVMs.Take(3))
            {

                @(await Html.PartialAsync("_CoursePartial", course))
            }

        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Notice Start -->
@(await Html.PartialAsync("_NoticePartial", Model.NoticeBoards))
<!-- Notice End -->
<!-- About Start -->
<div class="about-area pb-135 pt-130 bg-light">
    <div class="container">
        <div class="row">
           @(await Html.PartialAsync("_AboutPartial", Model.AboutEduHomes))
        </div>
    </div>
</div>
<!-- About End -->
<!-- Event Area Start -->
<div class="event-area three text-center pt-100 pb-115">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (Event event1 in Model.Events.Take(3))
            {
                @(await Html.PartialAsync("_EventPartial", event1))
            }

        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area three pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">

            <div class="testimonial-owl owl-theme owl-carousel">
                @foreach (Testimonial testimonial in Model.Testimonials)
                {
                  @(await Html.PartialAsync("_TestimonialPartial", testimonial))
                }
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (Blog item in Model.Blogs.Take(3))
            {
               @(await Html.PartialAsync("_BlogPartial", item))
            }
        </div>
    </div>
</div>
<!-- Blog Area End -->