@model BlogVM
@{
    ViewData["Title"] = "Detail";
}

<!-- Banner Area Start -->
@(await Html.PartialAsync("_BannerPartial", "Blog detail"))
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-details-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-details">
                    <div class="blog-details-img">
                        <img width="100%" src="~/img/blog/@Model.Blog.Image" alt="blog-details">
                    </div>
                    <div class="blog-details-content">
                        <h2>@Model.Blog.Title</h2>
                        <h6>By @Model.Blog.Author  /  @Model.Blog.Date.ToString("MMMM dd, yyyy")  /  <i class="fa fa-comments-o"></i> 4</h6>
                        <p>@Model.Blog.Description</p>
                    </div>
                    <div class="reply-area">
                        <h3>LEAVE A REPLY</h3>
                       @(await Html.PartialAsync("_LeaveReplyPartial"))
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-47">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input id="InputBlog" type="search" placeholder="Search..." name="search" />
                                <button id="ButtonBlog" type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                            </form>
                               <ul id="ListBlog" style="border: 1px solid; background-color:white; text-decoration:none; width: 100%; height: auto; position: absolute; z-index: 18;">
                                </ul>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-47">
                        <h3>categories</h3>
                        <ul>
                            @foreach (Category category in Model.Categories.Take(6))
                            {

                            <li><a href="#">@category.Name (@category.Blogs.Count())</a></li>
                            }
                         
                        </ul>
                    </div>
                   
                  @await Component.InvokeAsync("BlogBanner")

                    <div class="single-blog-widget mb-47">
                        <h3>latest post</h3>
                        <div class="single-post mb-30">
                            @foreach (Blog blog in Model.Blogs.Take(3))
                            {
                                <div class="single-post-img">
                                    <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id">
                                        <img width="100" src="~/img/blog/@blog.Image" alt="post">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>
               
                                <div class="single-post-content">
                                    <h4><a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id">English Language Course for you</a></h4>
                                    <p>By @blog.Author  / @blog.Date.ToString("MMMM dd, yyyy")</p>
                                </div>
                            }
                            </div>

                        
                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            @foreach (Tag tag in Model.Tags)
                            {

                            <a asp-controller="blog" asp-action="detail" asp-route-id="@tag.Id" class="mr-10 mb-10">course</a>
                            }
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->