@model Blog
@{
    ViewData["Title"] = "Detail";
}

<!-- Banner Area Start -->
@(await Html.PartialAsync("_BannerPartial", "Blog detail"))
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-details-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-details">
                    <div class="blog-details-img">
                        <img width="100%" src="~/img/blog/blog-detail.jpg" alt="blog-details">
                    </div>
                    <div class="blog-details-content">
                        <h2>@Model.Title</h2>
                        <h6>By @Model.Author  /  @Model.Date.ToString("MMMM dd, yyyy")  /  <i class="fa fa-comments-o"></i> 4</h6>
                        <p>@Model.Description</p>
                    </div>
                    <div class="reply-area">
                        <h3>LEAVE A REPLY</h3>
                       @(await Html.PartialAsync("_LeaveReplyPartial"))
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-47">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input type="search" placeholder="Search..." name="search" />
                                <button type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-47">
                        <h3>categories</h3>
                        <ul>
                            <li><a href="#">CSS Engineering (10)</a></li>
                            <li><a href="#">Political Science (12)</a></li>
                            <li><a href="#">Micro Biology (08)</a></li>
                            <li><a href="#">HTML5 &amp; CSS3 (15)</a></li>
                            <li><a href="#">Web Design (20)</a></li>
                            <li><a href="#">PHP (23)</a></li>
                        </ul>
                    </div>
                    <div class="single-blog-widget mb-47">
                        <div class="single-blog-banner">
                            <a asp-controller="blog" asp-action="detail" asp-route-id="@Model.Id" id="blog"><img src="~/img/blog/blog-img.jpg" alt="blog"></a>
                            <h2>best<br> eductaion<br> theme</h2>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-47">
                        <h3>latest post</h3>
                        <div class="single-post mb-30">
                            <div class="single-post-img">
                                <a asp-controller="blog" asp-action="detail" asp-route-id="@Model.Id">
                                    <img src="~/img/post/post1.jpg" alt="post">
                                    <div class="blog-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="single-post-content">
                                <h4><a asp-controller="blog" asp-action="detail" asp-route-id="@Model.Id">English Language Course for you</a></h4>
                                <p>By Alex  /  June 20, 2017</p>
                            </div>
                        </div>
                        <div class="single-post mb-30">
                            <div class="single-post-img">
                                <a asp-controller="blog" asp-action="detail" asp-route-id="@Model.Id">
                                    <img src="~/img/post/post2.jpg" alt="post">
                                    <div class="blog-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="single-post-content">
                                <h4><a asp-controller="blog" asp-action="detail" asp-route-id="@Model.Id">Advance Web Design and Develop</a></h4>
                                <p>By Alex  /  June 20, 2017</p>
                            </div>
                        </div>
                        <div class="single-post">
                            <div class="single-post-img">
                                <a asp-controller="blog" asp-action="detail" asp-route-id="@Model.Id">
                                    <img src="~/img/post/post3.jpg" alt="post">
                                    <div class="blog-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="single-post-content">
                                <h4><a asp-controller="blog" asp-action="detail" asp-route-id="@Model.Id">English Language Course for you</a></h4>
                                <p>By Alex  /  June 20, 2017</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            <a asp-controller="blog" asp-action="detail" asp-route-id="@Model.Id" class="mr-10 mb-10">course</a>
                            <a asp-controller="blog" asp-action="detail" asp-route-id="@Model.Id" class="mr-10 mb-10">education</a>
                            <a asp-controller="blog" asp-action="detail" asp-route-id="@Model.Id" class="mb-10">teachers</a>
                            <a asp-controller="blog" asp-action="detail" asp-route-id="@Model.Id" class="mr-10">learning</a>
                            <a asp-controller="blog" asp-action="detail" asp-route-id="@Model.Id" class="mr-10">university</a>
                            <a asp-controller="blog" asp-action="detail" asp-route-id="@Model.Id">events</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->