@model CourseVM
@{
    ViewData["Title"] = "Detail";
}

<!-- Banner Area Start -->
@(await Html.PartialAsync("_BannerPartial", "course detail"))
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="courses-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="courses-details">
                    <div class="courses-details-img">
                        <img width="100%" src="~/img/course/@Model.Course.Image" alt="courses-details">
                    </div>
                    <div class="course-details-content">
                        <h2>@Model.Course.Name</h2>
                        <p>@Model.Course.Description</p>
                        <div class="course-details-left">
                            <div class="single-course-left">
                                <h3>about course</h3>
                                <p>@Model.Course.About</p>
                            </div>
                            <div class="single-course-left">
                                <h3>how to apply</h3>
                                <p>@Model.Course.HowToApply</p>
                            </div>
                            <div class="single-course-left">
                                <h3>certification</h3>
                                <p class="margin">@Model.Course.Certification</p>
                            </div>
                        </div>
                        <div class="course-details-right">
                            <h3>COURSE FEATURES</h3>
                            <ul>
                                <li>starts <span>@Model.Course.Starts?.ToString("dd  MMM yyyy")</span></li>
                                <li>duration <span>@Model.Course.Duration</span></li>
                                <li>class duration <span>@Model.Course.ClassDuration</span></li>
                                <li>skill level <span>@Model.Course.SkillLevel</span></li>
                                <li>language <span>@Model.Course.Language</span></li>
                                <li>students <span>@Model.Course.StudentsCount</span></li>
                                <li>assesments <span>@Model.Course.Assesments</span></li>
                            </ul>
                            <h3 class="red">course fee $@Model.Course.Fee</h3>
                        </div>
                    </div>
                    <div class="reply-area">
                        <h3>LEAVE A REPLY</h3>
                     @(await Html.PartialAsync("_LeaveReplyPartial"))
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                 <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-47">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input id="InputCourse" type="search" placeholder="Search..." name="search" />
                                <button id="ButtonCourse" type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                            </form>
                               <ul id="ListCourse" style="border: 1px solid; background-color:white; text-decoration:none; width: 100%; height: auto; position: absolute; z-index: 18;">
                                </ul>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-47">
                        <h3>categories</h3>
                        <ul>
                            @foreach (Category category in Model.Categories.Take(6))
                            {

                            <li><a href="#">@category.Name (@category.Courses.Count())</a></li>
                            }
                         
                        </ul>
                    </div>
                   
                  @await Component.InvokeAsync("BlogBanner")

                    <div class="single-blog-widget mb-47">
                        <h3>latest post</h3>
                        <div class="single-post mb-30">
                            @foreach (Blog blog in Model.Blogs.Take(3))
                            {
                                <div class="single-post-img">
                                    <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id">
                                        <img width="100" src="~/img/blog/@blog.Image" alt="post">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>
               
                                <div class="single-post-content">
                                    <h4><a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id">English Language Course for you</a></h4>
                                    <p>By @blog.Author  / @blog.Date.ToString("MMMM dd, yyyy")</p>
                                </div>
                            }
                            </div>

                        
                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            @foreach (Tag tag in Model.Tags)
                            {

                            <a asp-controller="blog" asp-action="detail" asp-route-id="@tag.Id" class="mr-10 mb-10">@tag.Name</a>
                            }
                      
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->