@model Teacher
@{
    ViewData["Title"] = "Detail";
    int counter = 1;
}

<h1 class="h3 mb-4 text-gray-800"> Teacher Detail</h1>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>

                    <th>
                        FullName
                    </th>

                    <th>
                        About
                    </th>
                    <th>Info</th>
                    <th>
                        Position
                    </th>
                    <th>
                        Skills
                    </th>
                    <th>
                        Tags
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        <img width="100" src="~/img/teacher/@Model.Image" />

                    </td>
                    <td>
                        @Model.Name <span>  </span>  @Model.Surname
                    </td>
                    <td>
                      @Model.About
                    </td>
                    <td>
                        
                        Degree:  @Model.Degree
                        <br>
                        Faculty: @Model.Faculty
                        <br>
                        Experience :  @Model.Experience
                        <br>
                        Hobbies: @Model.Hobbies
                        <br>
                        Email : @Model.Email
                        <br>
                        Phone : @Model.PhoneNumber
                        <br>
                        Skype :  @Model.Skype
                        <br>
                        Facebook : @Model.FacebookUrl
                        <br>
                        Twitter :  @Model.TwitterUrl
                        <br>
                        V :  @Model.VUrl
                    </td>
                    <td>
                        @Model.Position.Name
                    </td>
                    <td>
                        @foreach (TeacherSkill TeacherSkill in Model.TeacherSkills)
                        {

                            @TeacherSkill.Skill.Name
                            <br>
                        }

                    </td>
                    <td>
                        @foreach (Course course in Model.Courses)
                        {

                            @course.Name
                            <br>
                        }

                    </td>

                </tr>

            </tbody>
        </table>

    </div>
</div>
@section script{
    @await Html.PartialAsync("_ValidationPartial");
}