@model Course
@{
    ViewData["Title"] = "Detail";
    int counter = 1;
}

<h1 class="h3 mb-4 text-gray-800"> Course Detail</h1>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>

                    <th>
                        Name
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        About
                    </th>
                    <th>
                        How to Apply
                    </th>
                    <th>
                        Certification
                    </th>
                    <th>
                        Features
                    </th>


                    <th>
                        Description
                    </th>

                    <th>
                        Category and Teacher
                    </th>
                    <th>
                        Tag
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        @Model.Name
                    </td>
                    <td>
                        <img width="100" src="~/img/course/@Model.Image" />

                    </td>
                    <td>
                        @Model.About
                    </td>
                    <td>
                        @Model.HowToApply
                    </td>
                    <td>
                        @Model.Certification
                    </td>
                    <td>
                        Starts : @Model.Starts?.ToString("dd/mm/yyyy")
                        <br>
                        Duration:  @Model.Duration
                        <br>
                        ClassDuration: @Model.ClassDuration
                        <br>
                        SkillLevel: @Model.SkillLevel
                        <br>
                        Language: @Model.Language
                        <br>
                        StudentsCount : @Model.StudentsCount
                        <br>
                        Assesment : @Model.Assesments
                        <br>
                        Fee: @Model.Fee
                        <br>
                        Description :  @Model.Description
                    </td>
                    <td>
                      Category:  @Model.Category.Name
                        <br>
                       Teacher: @(Model.Teacher.Name + Model.Teacher.Surname)
                    </td>
                    <td>
                        @foreach (CourseTag CourseTag in Model.CourseTags)
                        {

                            @CourseTag.Tag.Name
                            <br>
                        }

                    </td>

                </tr>

            </tbody>
        </table>

    </div>
</div>
@section script{
    @await Html.PartialAsync("_ValidationPartial");
}